:root {
  --color-navy-blue: #2e2f42;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-ocean: #404bbf;
  --color-iris: #4d5ae5;
  --color-slate: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}
/* inherit - наследование свойств родителя */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-style,
.nav,
.header-list,
.address-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  margin-left: 76px;
}
.header-list .item:not(:last-child) {
  margin-right: 40px;
}

/* .header-list .item:last-child {
  margin-right: 0;
} */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 1px solid red; */
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* display: flex;
  align-items: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.header-logo-studio {
  color: var(--color-navy-blue);
}
.navigation-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.navigation-link:is(:hover, :focus) {
  color: var(--color-ocean);
}

.header-address {
  margin-left: auto;
  font-style: normal;
}

.address-list .item + .item {
  margin-left: 40px;
}
.contacts-link {
  font-family: "Roboto";
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.contacts-link:is(:hover, :focus) {
  color: var(--color-ocean);
}

.hero {
  /* width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px; */
  /* height: 600px; */
  /* padding-top: 188px;
  padding-bottom: 188px; */
  text-align: center;
  background: var(--color-navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}


.hero-title {
  display: block;
  max-width: 496px;
  margin: 0 auto;
  /* padding-top: 188px; */
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  /* text-transform: capitalize; */
  color: var(--color-white);
}

.button {
  margin-top: 48px;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--color-iris);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background: var(--color-ocean);
}

.section-advantages {
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  display: block;
  width: 264px;
}
.advantages-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.advantages-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.section-projects {
  padding-bottom: 120px;
}
.section-projects-header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.section-projects-list {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 120px; */
}

.section-team {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list-item {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
}

.team-item-block {
  padding: 32px 0;
}
.team-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.team-item-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin-top:  8px;
}

.footer {
  background: var(--color-navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;}

.footer-block {
  display: block;
  width: 264px;
  /* padding: 100px 0; */
}

.footer-logo-studio {
  color: var(--color-cloud);
}

.footer-text {
  margin-top: 16px;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

/* portfolio */
.portfolio-projects-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  /* padding-top: 96px;
  padding-bottom: 72px; */
}

.filters-list li + li {
  margin-left: 24px;
}

.portfolio-button {
  padding: 12px 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.04em;
  /* IRIS */
  color: var(--color-iris);
  background: var(--color-cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-button:is(:hover, :focus) {
  color: var(--color-white);

  background: var(--color-ocean);
  border-color: transparent;
}

.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.item-portfolio {
  /* width: 360px; */
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item-container {
  padding: 32px 16px;
  border-bottom: 1px solid #E7E9FC;
  border-left:  1px solid #E7E9FC;
  border-right:  1px solid #E7E9FC;
}



.project-item-header {
  /* margin-top: 32px; */
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.project-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
